body, main{
    display: flex
}

body{
    flex-direction: column;
}

main{
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
}
aside{
    flex: 1;
}

article, aside{
    overflow-y: auto;
}
header{
    display: flex;
    justify-content: space-between;
}
a{
text-decoration: none;
color: rgb(44, 25, 95);
}
h1, h2, h3,h4{
    color: rgb(44, 25, 95);
}